@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-background: #11161d;
  --color-foreground: #96a8c0;
  --color-primary: #07edc7;
  --color-accent-cyan: #0ae5f5;
  --font-mono: 'JetBrains Mono', 'SF Mono', 'Consolas', monospace;
}
